<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<title>RSS Angular</title>

	<link rel="stylesheet" href="css/reveal.css">
	<link rel="stylesheet" href="css/theme/black.css">
	<link rel="stylesheet" href="css/custom.css">

	<!-- Theme used for syntax highlighting of code -->
	<link rel="stylesheet" href="lib/css/zenburn.css">

	<!-- Printing and PDF exports -->
	<script>
		var link = document.createElement('link');
		link.rel = 'stylesheet';
		link.type = 'text/css';
		link.href = window.location.search.match(/print-pdf/gi) ? 'css/print/pdf.css' : 'css/print/paper.css';
		document.getElementsByTagName('head')[0].appendChild(link);
	</script>
</head>

<body>
	<div class="reveal">
		<div class="slides">
			<section id="introduction">
				<section>
					<h1>Angular</h1>
					<img class="logo" src="./images/logo.png" width="500" height="500" alt="angular-logo" />
					<aside class="notes">
						<p>
							Hello. Today I will talk to you about Angular.
						</p>
					</aside>
				</section>
				<section>
					<h2>What is Angular</h2>
					<ul>
						<li>Angular is a platform that makes it easy to build applications with the web.</li>
						<li class="fragment">Developed by Google</li>
						<li class="fragment">Uses <a href="http://www.typescriptlang.org/">TypeScript</a> language</li>
					</ul>
					<aside class="notes">
						<p>
							Angular is a web framework developed by Google and the latest version of Angular is written in TypeScript.
						</p>
					</aside>
				</section>
				<section>
					<h3>History</h3>
					<ol>
						<li>AngularJS first released on 20 October 2010</li>
						<li>On April 30, 2015, the Angular developers announced Angular 2 on September 14, 2016.</li>
						<li>3 version was skipped :)</li>
						<li>On 13 December 2016 Angular 4 was announced (HttpClient, Route life cycle and more)</li>
						<li>Angular 5 was released on November 1, 2017.(support for Material Design)</li>
						<li>Angular 6 was released on May 4, 2018.</li>
						<li>Angular 7 was released on October 18, 2018.(Updates regarding Application Performance, Angular Material &
							CDK, Virtual Scrolling, Improved Accessibility of Selects)</li>
					</ol>
					<aside class="notes">
						<p>The history of Angular presented on the current slide.</p>
						<p>The main changes were brought between the first and second version, cause second version was fully rewritten using TypeScript</p>
					</aside>
				</section>
			</section>
			<section>
				<section>
					<h3>Why TypeScript</h3>
				</section>
				<section id="typescript">
					<h2>TypeScript (*.ts)</h2>
					<ul>
						<li>Developed by Microsoft</li>
						<li class="fragment">Superset of JavaScript</li>
						<li class="fragment">Statically typed</li>
						<li class="fragment">Catch a lot of errors/bugs in compile time</li>
						<li class="fragment">More clear inheritance</li>
						<li class="fragment">Annotations/Decorator</li>
						<li class="fragment">Advanced autocompletion</li>
						<li class="fragment">Navigation</li>
					</ul>
					<aside class="notes">
						<ul>
							<li>TypeScript is language developed by Microsoft. </li>
							<li>It is a superset of JavaScript and its main feature is that it is
								statically typed.</li>
							<li>This gives you the ability to catch a lot of errors, mistakes and find bugs at compilation phase and not
								during
								runtime.</li>
							<li>Also Angular provides more clear inheritance, some additional structures like Decorator.</li>
							<li>Modern IDEs have better support of statically typed languages and provide you code autocompletion and better
								navigation.
							</li>
						</ul>
					</aside>
				</section>
			</section>
			<section>
				<section>
					<h3>Architecture</h3>
					<img src="images/architecture.png" width="700" alt="Architecture" />
					<aside class="notes">
						<p>So let's take a look at Angular architecture.</p>
					</aside>
				</section>
				<section>
					<h3>Main structures</h3>
					<ul>
						<li>@NgModule</li>
						<li>@Component</li>
						<li>@Directive</li>
						<li>@Service</li>
					</ul>
					<aside class="notes">
						<p>Today we will talk about such structurer of Angular and start with NgModule.</p>
						<p>Angular it is a modular framework and it is divided into small pieces called modules.</p>
						<p>Angular supports ES6 modules and also provides a structure called NgModule.</p>
					</aside>
				</section>
				<section>
					<h3>@NgModule</h3>
					<ul>
						<li>The basic building blocks of an Angular application are NgModules</li>
						<li>Every Angular app has at least one NgModule class, the root module, which is conventionally named AppModule</li>
						<li>An NgModule is defined by a class decorated with @NgModule().</li>
					</ul>
					<pre><code class="hljs" data-trim >
						import { NgModule }      from '@angular/core';
						import { BrowserModule } from '@angular/platform-browser';
						@NgModule({
							imports:      [ BrowserModule ],
							providers:    [ Logger ],
							declarations: [ AppComponent ],
							exports:      [ AppComponent ],
							bootstrap:    [ AppComponent ]
						})
						export class AppModule { }
					</code></pre>
					<aside class="notes">
						<p>NgModule it is a basic JS class with additional decorator called @NgModule with metadata.</p>
						<p>In metadata, you can specify: </p>
						<ul>
							<li>other modules that you want to import in your module.</li>
							<li>You can use @Components from imported modules.</li>
							<li>You can specify services, Components that you want to render</li>
							<li>You can specify Components that you want to export.</li>
							<li>And modules that will import your module can use exported components.</li>
						</ul>
					</aside>
				</section>
				<section>
					<h3>Initialisation</h3>
					<pre><code class="hljs" data-trim >
						import { platformBrowserDynamic } from '@angular/platform-browser-dynamic';
						
						import { AppModule } from './app/app.module';
						
						platformBrowserDynamic().bootstrapModule(AppModule)
						.catch(err => console.error(err));
					</code></pre>
					<aside class="notes">
						<p>Model is a basic building block and entry point of your application. During startup, you need to specify some
							module.</p>
					</aside>
				</section>
				<section>
					<h3>Build-in NgModules</h3>
					<pre><img src="images/ng_modules.png" alt="popular-ng-modules"/></pre>
					<aside class="notes">
						<p>Angular support built-in modules and you can use them out of the box.</p>
					</aside>
				</section>
				<section>
					<h3>Example</h3>
					<pre>
						<code class="hljs" data-trim >
							@NgModule({
								imports: [
									BrowserModule,
									FormsModule,
									AppRoutingModule,
									HttpClientModule,
								],
								declarations: [
									AppComponent,
									DashboardComponent,
									HeroesComponent,
									HeroDetailComponent,
									MessagesComponent,
									HeroSearchComponent
								],
								bootstrap: [ AppComponent ]
							})
							export class AppModule { }
						</code>
					</pre>
				</section>
				<section>
					<h3>Components</h3>
					<img src="images/architecture.png" width="1024" alt="Architecture" />
				</section>
				<section>
					<h4>@Component</h4>
					<span>A component controls a patch of screen called a view</span>
					<pre><code class="hljs" data-trim >
						<root-template>
							<header-component></header-component>
							<list-component>
								<item-component></item-component>
								<item-component></item-component>
								<item-component></item-component>
							</list-component>
							<footer-component></footer-component>
						</root-template>
					</code></pre>
					<aside class="notes">
						<p>A component is a basic building block of an Angular application.</p>
						<p>Components can be chained or can be organized in complex structures.</p>
					</aside>
				</section>
				<section>
					<h4>@Component</h4>
					<pre><code class="hljs" data-trim >
					@Component({
						selector:    'app-tag',
						templateUrl: './app-tag.component.html',
						template: 'inline template'
						providers:  [ RssInfoService ]
					})
					export class RssDataComponent implements OnInit {
					/* . . . */
					}
					</code></pre>
					<aside class="notes">
						<p>The Component also a JS class with its own Decorator(@Component).</p>
						<p>You can specify services that you want to use/inject in Component's metadata.</p>
						<p>A component can not exist without a template file. Template it is an HTML file that you can specify as a value in templateURL or you can use an inline template and specify it in template property.</p>

						<p>The metadata for a component tells Angular where to get the major building blocks that it needs to create and present the component and its view.</p>
						<p>In particular, it associates a template with the component, either directly with inline code, or by reference.</p>
						<p>Together, the component and its template describe a view.</p>
					</aside>
				</section>
				<section>
					<h4>Template</h4>
					<p>Regular HTML with additional Angular template syntax</p>
					<pre>
						<code class="hljs" data-trim >
							<p><i>Some text</i></p>
							<ul>
								<li *ngFor="let padawan of padawans" (click)="selectPadawan(padawan)">
									{{padawan.githubAccount}}
								</li>
							</ul>
							<app-padawan-detail [padawan]="selectedPadawan"></app-padawan-detail>
						</code>
					</pre>
					<aside class="notes">
						<p>Template it is a basic HTML file with additional Angular syntax.</p>
						<ul>
							<li>A template is a form of HTML that tells Angular how to render the component.</li>
							<li>The template immediately associated with a component defines that component's host view. The component can
								also define
								a view hierarchy, which contains embedded views, hosted by other components.</li>
						</ul>
					</aside>
				</section>
				<section>
					<h3>Example</h3>
					<pre><code class="hljs" data-trim>
							@Component({
								selector: 'app-root',
								templateUrl: './app.component.html',
								styleUrls: ['./app.component.css']
							})
							export class AppComponent {
								title = 'Tour of Heroes';
							}
					</code></pre>
				</section>
				<section>
					<h4>@Directive</h4>
					<span>Transform DOM based on some conditions/rules</span>
					<ul>
						<li>Structural directives</li>
						<pre><code class="hljs" data-trim>
							<li *ngFor="let padawan of padawans">
								/* . . . */
							</li>
						</code></pre>
						<li>Attribute directives</li>
						<pre><code class="hljs" data-trim><input [(ngModel)]="hero.name"/></code></pre>
					</ul>
					<aside class="notes">
						<p>In some cases, we can perform actions with DOM. You can create your own directive or use built-in directive.
							Currently Angular support 2 types of directive:</p>
						<ul>
							<li>Structural directive. It changes DOM structure</li>
							<li>Attribute directive. It updates attributes of DOM elements and does not create new DOM elements</li>
						</ul>
					</aside>
				</section>
				<section>
					<h4>Data Binding</h4>
					<img class="image-aside" src="images/databinding.png" alt="databinding" />
					<p>Angular supports two-way data binding, a mechanism for coordinating the parts of a template with the parts of a
						component.</p>
					<ol style="clear: both;">
						<li>Interpolation:
							<pre><code class="hljs" data-trim>{{padawan.githubAccount}}</code></pre>
						</li>
						<li>Property binding:
							<pre><code class="hljs" data-trim><app-padawan-detail [padawan]="selectedPadawan"></app-padawan-detail></code></pre>
						</li>
						<li>Event binding:
							<pre><code class="hljs" data-trim><li (click)="selectPadawan(padawan)">...</li></code></pre>
						</li>
					</ol>
					<aside class="notes">
						<p>When we have components and templates then we want to configure some interaction between this structures.</p>
						<p>Without Angular, you need to code this interaction by your own(query dom and using events).</p>
						<p>Angular supports 3 types of data binding:</p>
						<ul>Interpolation. Renders values from Components on Template.
							<li>Property Binding. Help to interact between child and parent components. Values from parent components can be
								passed
								to child component</li>
							<li>Event binding. Reverse action - trigger changes in parent component based on changes in child component. For
								example,
								'click' event on child component can call a method from a parent component.
							</li>
							<li>Data binding plays an important role in communication between a template and its component, and is also
								important for
								communication between parent and child components.</li>
						</ul>
					</aside>
				</section>
				<section>
					<h4>Service/@Injectable()</h4>
					<pre><code class="hljs" data-trim>
						@Injectable()
						export class Logger {
							log(msg: any)   { console.log(msg); }
							error(msg: any) { console.error(msg); }
							warn(msg: any)  { console.warn(msg); }
						}
					</code></pre>
					<aside class="notes">
						<p>As Angular is modular framework developers decided to split logic related to HTML rendering and logic related to calculation or HTTP communication.</p>
						<p>Angular provides service with the help of Injector instance.</p>
					</aside>
				</section>
				<section>
					<p>Dependency Injection</p>
					<img src="images/injector-injects.png" alt="dependency injection" />
					<aside class="notes">
						<p>The idea of DI is that dependency is injected with a side component that manages dependencies.</p>
						<p>When Component/NgModule needs some dependencies it asks Injector for it and Injector checks and provides dependency if it already has an instance of it or creates a new instance and return it to the consumer.</p>
					</aside>
				</section>
				<section>
					<p>Autowire/Inject dependencies</p>
					<pre><code class="hljs" data-trim>
							@Injectable({
								providedIn: 'root'|ModuleName,
							})
						</code></pre>
					<pre class="fragment"><code class="hljs" data-trim>
							@NgModule({
								providers: [
									BackendService,
									Logger
								],
							...
							})
						</code></pre>
					<pre class="fragment"><code class="hljs" data-trim >
							@Component({
								providers: [
									BackendService,
									Logger
								],
							...
							})
						</code></pre>
						<aside class="notes">
							<p>Angular supports 3 types of injection.</p>
							<ul>
								<li>First is to specify 'provideIn' property in @Injectable decorator. You can specify a value as 'root' and in this case, Injector creates a singleton instance of this service and provides it to all consumers.</li>
								<li>The second way is to specify a list of providers in NgModule decorator. As a result, this module will have access to specified services.</li>
								<li>And we can specify services in @Component's metadata</li>
							</ul>
						</aside>
				</section>
			</section>
			<section>
				<h2>Thanks</h2>
			</section>
		</div>
	</div>

	<script src="lib/js/head.min.js"></script>
	<script src="js/reveal.js"></script>

	<script>
		// More info about config & dependencies:
		// - https://github.com/hakimel/reveal.js#configuration
		// - https://github.com/hakimel/reveal.js#dependencies
		Reveal.initialize({
			dependencies: [
				{ src: 'plugin/markdown/marked.js' },
				{ src: 'plugin/markdown/markdown.js' },
				{ src: 'plugin/notes/notes.js', async: true },
				{ src: 'plugin/highlight/highlight.js', async: true, callback: function () { hljs.initHighlightingOnLoad(); } }
			]
		});
	</script>
</body>

</html>